.footer-section {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    position: inherit;
    height: 15rem;
    background-color: #edefee;
  }
  
  .footer-nav {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
  }
  
  .footer-nav > li {
    margin: 0.2rem;
    color: #495e57;
  }
  
  .contact-info {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contact-info > ul {
    list-style-type: none;
    padding: 0;
  }
  
  .social-media {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .social-media-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .social-media-links > a > svg {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    color: #333333;
    transition: transform 0.3s, color 0.3s;
  }
  
  .social-media-links > a > svg:hover {
    transform: scale(1.05);
    color: #f4ce14;
    cursor: pointer;
  }