.menu-page {
  min-height: calc(100vh - 350px);
  padding: 20px;
}

.menu-page h2 {
  color: #495e57;
  text-align: center;
}

.menu-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}